::-webkit-scrollbar {
    display: none;
}
/*I learned how to hide the scrollbar on my own using w3schools and youtube to learn how
to keep scrolling and hide the scrollbar */
html {
    scroll-behavior: smooth;
}
body {
    background-color: #011d23;
    color: white;
    margin: 0px;
}
h1 {
    padding-top: 10%;
}
#work {
    display: inline;
    text-align: center;
}
#website {
    width: 30%;
}
p {
    display: inline-block;
}
#icon {
    width: 4%;
    list-style-type: none;
}
#miguel img {
    border-style: solid;
}
#sitemap li {
    list-style-type: none;
    display: inline;
    padding: 2%;
}
li {
    list-style-type: none;
}
a:link {
    text-decoration: none;
}
p {
    display: inline-block;
}
nav {
    border-style: solid;
    background-color: #00bfbd;
    width: 100%;
    top: 0;
    position: fixed;
}
nav ul {
    float: right;
}
#links {
    position: relative;
}
#links li {
    font-size: 35px;
    display: inline-block;
    text-align: center;
}
#links a:hover {
    border-style: hidden;
    background-color: #EAA429;
}
#home {
    height: 100vh;
    font-size: 50px;
}
#projects {
    font-size: 30px;
    scroll-snap-type: mandatory;
}
#projects p {
    border-style: hidden;
    background-color: #073b43;
}
#projects a:hover {
    background-color: #EAA429;
    text-align: center;
}
#contact {
    height: 100vh;
    font-size: 30px;
}
@media only screen and (max-width: 1024px) {
    #projects img {
        width: 100%;
    } 
    nav ul {
        float: none;
    }
    #icon {
        width: 10%;
    }
}
@media only screen and (max-width: 375px) {
    #links li{
        padding: 0%;
        font-size: 20px;
        float: left;
        padding-right: 20px;
        padding-left: 10px;
    }
}
@media only screen and (min-width: 411px){
    #links li{
        padding: 0%;
        font-size: 20px;
        float: left;
        padding-right: 20px;
        padding-left: 27px;
    }
}
@media only screen and (min-width: 540px) {
    #links li{
        padding: 0%;
        font-size: 20px;
        float: left;
        padding-right: 20px;
        padding-left: 55px;
    }
}
@media only screen and (min-width: 768px) {
    #links li{
        padding: 0%;
        font-size: 30px;
        float: left;
        padding-right: 20px;
        padding-left: 100px;
    }
}
@media only screen and (min-width: 1024px) {
    #links li{
        padding: 0%;
        font-size: 40px;
        float: left;
        padding-right: 20px;
        padding-left: 140px;
    }
}