.about{
    text-align: center;
    font-size: x-large;
    height: 100vh;
    width: 100%;
    background-color:white;
    color: black;
}
.habout{
    margin-top: 0;
}
.about p {
    font-size: xx-large;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3rem;
}
.skills {
    margin-top: 3rem;
    justify-content: center;
}
.skills ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}
.skills li{
    display: block;
    justify-content: center;
    margin-left: 1.5rem;
}
.icon{
    display: flex;
    margin-left: 1rem;
    height: 2rem;
    width: 2rem;
}
.service{
    display: flex;
    margin-left: 2rem;
    height: 2rem;
    width: 2rem;
}
.degree {
    margin-top: 1rem;
}
.degree img {
    margin-top: 1rem;
    width: 30rem;
    height: 20rem;
}
#javascript {
    color: rgb(230, 230, 0);
}
#html {
    color: darkorange;
}
#css {
    color: blue;
}
#react {
    color: aqua;
}
#node {
    color: green;
}
#git {
    color: #f34f29;
}
#github{
    color: blueviolet;
}
#api{
    color: rgb(0, 153, 255);
}
#angular{
    color: red;
}

@media only screen and (max-width: 912px) and (min-width: 280px) {
    .about {
    padding-top: 2rem;
     width: 50rem;
     height: 1200px;
     margin-left: 5rem;
    }
   }