.home{
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    color: white;
    height: 100vh;
    background-image: url(../images/background1.jpg);
    background-size: 100% 100%;
}
.front {
    margin-top: 6rem;
    width: 18rem;
    height: 30rem;
}
.footLinks{
    justify-content: center;
    color: aliceblue;
}
.footLinks a:hover{
    color: aqua;
}
.linkimg {
    width: 1;
    height: 2rem;
    display: flex;
    margin-left: 1.5rem;
}

@media only screen and (max-width: 912px) and (min-width: 280px) {
   .home{
    width: 59.5rem;
    height: 1700px;
    font-size: 3rem;
   }
   .front {
    margin-top: 20rem;
   }
   .h1 {
    margin-top: 5rem;
   }
   .footLinks a {
    font-size: 3rem;
   }
   .front {
    margin-top: 20rem;
   }
   .footLinks a {
    font-size: 2rem;
   }
   .linkimg {
    width: 5rem;
    height: 5rem;
    margin-left: 1rem;
   }
  }